#mission svg {
    display: block;
    margin: 0 auto;
}

#mission svg circle, #mission svg line {
    stroke-width: 5px;
}

.circle {
    overflow: hidden;
}

.circle svg {
    width: 210px;
    height: 210px;
    float: left;
}

.circle svg circle {
    stroke-width: 5px;
}

.circle .controls {
    float: left;
}

.circle .controls input[type="range"] {
    background-color: transparent;
}

.code-left {
    width: 44%;
    float: left;
}

.code-right {
    width: 44%;
    float: right;
}

.circles {
    overflow: hidden;
}

.circles .circle {
    float: left;
    width: 220px;
}

a.action {
    float: right;
    font-size: 80%;
    color: #00c;
    border-bottom: 1px dashed #00c;
    visibility: hidden;
    margin-right: 30px;
}

.circle:hover a.action {
    visibility: visible;
}